<h1>Articles - Welcome</h1>


<h3> <%= link_to 'My Blog', articles_path %> </h3>

<input type="text" id="field1" value="5" />
<input type="text" id="field2" value="2" />

<button id="add"> Dodaj </button>
<p id="wynik"> </p>


